/*main text color #212121; */
/*additional text color #757575;*/
/* accent color text #2196F3; */
/*background color #FFFFFF;*/
/* background top color 2F303A */
/*background team color #F5F4FA;  */
:root {
  --background-color: #ffffff;
  --main-text-color: #757575;
  --focus-color: #2196f3;
  --title-color: #212121;
}
body {
  background-color: var(--background-color);
  color: var(--main-text-color);
}
.logo {
  list-style: none;
  color: var(--title-color);
}
.logo-focus {
  color: var(--focus-color);
}
.a {
  list-style: none;
}
/* site nav */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--focus-color);
}
.site-nav .link {
  color: var(--title-color);
}
.site-nav .link.active {
  color: var(--focus-color);
}
.site-nav > li:hover,
.site-nav > li:focus {
  color: var(--focus-color);
}
/* Hero section */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
}
.button {
  color: #ffffff;
  background-color: var(--focus-color);
}
/* Section */
.section-title {
  color: var(--title-color);
}
.section h3 {
  color: var(--title-color);
}
/* portfolio styles */
.portfolio-title {
  color: #212121;
}
.portfolio-nav .button-nav {
  color: var(--title-color);
  background-color: #f5f4fa;
}
.portfolio-nav .button-nav:hover,
.portfolio-nav .button-nav:focus {
  color: #ffffff;
  background-color: var(--focus-color);
}
